.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 221, 221);
    border-radius: 0.5rem;
    padding: 2rem 4rem 2rem 4rem;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 80%;
    outline: none;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
    border-radius: 15px 5px;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
}

.closeIcon {
    color: rgb(255, 255, 255);
    align-self: flex-end;
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    border-radius: 10rem;
    height: 2rem;
    width: 2rem;
    transition: 200ms;
}

.closeIcon:hover {
    background-color: rgb(185, 0, 0);
}

.label {
    font-size: 2.7rem;
}

.codigo {
    margin-top: 0.5rem;
    font-size: 1.7rem;
}